# 数据科学与工程导论实验报告-09

温兆和 10205501432

首先我们引入在本次实验中需要用到的Python库。

In [9]:
import pymysql
db = pymysql.connect(host = "cdb-r2g8flnu.bj.tencentcdb.com", port = 10209, user
= "dase2020", password = "dase2020", database = "dase_intro_2020")
cursor = db.cursor() 
sql = "SELECT VERSION();" 
cursor.execute(sql)
result0 = cursor.fetchone()
print(result0)

('5.7.18-20170830-log',)

上面这段程序的结果显示我们已经成功安装了pymysql。本周的所有实验以sql语句查询为主，都会在数据库 dase_intro_2020 中名为 bicycle_train 的表上进行。查询的内容为：
## 实验一
从第18条记录开始的5条记录。

In [10]:
sql = "SELECT * FROM bicycle_train LIMIT 17,5;"
cursor.execute(sql)
result1 = cursor.fetchall()
print(result1)

((18, 1, 17, 1, 8, 4, 1, 2, 75), (19, 1, 1, 1, 18, 19, 1, 3, 5), (20, 1, 7, 0, 23, 25, 2, 1, 13), (21, 0, 9, 0, 25, 27, 1, 0, 67), (22, 0, 16, 1, 11, 11, 3, 2, 76))

## 实验二
数据表中风级(wind)取值范围是多少？

我们从数据库中查询不重复的风级，并从小到大排序。

In [11]:
sql = "SELECT DISTINCT wind FROM bicycle_train ORDER BY wind;"
cursor.execute(sql)
result2 = cursor.fetchall()
print(result2)

((0,), (1,), (2,), (3,), (4,), (5,), (6,), (7,))

可见，风级的取值范围为0到7.

## 实验三
满足城市为北京市，10时，晴天，无风或1级风，租用单车数量不小于100条件下大气温度的平均值。

In [12]:
sql = "SELECT AVG(temp_air) FROM bicycle_train WHERE city = 0 AND hour = 10 AND weather = 1 AND wind<=1 AND y>=100;"
cursor.execute(sql)
result3 = cursor.fetchall()
print(result3)

((Decimal('20.6000'),),)

## 实验四
满足城市为北京市，10时，晴天，无风或1级风，租用单车数量不小于100条件下大气温度的方差。

In [23]:
temp_ba = float(result3[0][0])
sql = "SELECT temp_air FROM bicycle_train WHERE city = 0 AND hour = 10 AND weather = 1 AND wind<=1 AND y>=100;"
cursor.execute(sql)
result4 = cursor.fetchall()
Var = 0
for i in range(len(result4)):
    Var=Var+(result4[i][0]-temp_ba)**2
Var = Var/len(result4)
print(Var)

37.64

## 实验五
分城市显示工作日雨雪天单车租用总量，并降序排序。

In [34]:
sql = "SELECT city,SUM(y) FROM bicycle_train WHERE weather = 3 AND is_workday = 1 GROUP BY city ORDER BY SUM(y) DESC;"
cursor.execute(sql)
result5 = cursor.fetchall()
print(result5)

((1, Decimal('9106')), (0, Decimal('8084')))

## 实验六
分别查询17时至19时每小时上海市在工作日且体感温度不大于10摄氏度时租用单车的平均值（四舍五入至整数），并且结果按升序排序。

In [47]:
sql = "SELECT hour,AVG(y) FROM bicycle_train WHERE city = 1 AND hour BETWEEN 17 AND 19 AND is_workday = 1 AND temp_body<=10 GROUP BY hour ORDER BY AVG(y);"
cursor.execute(sql)
result6_1 = cursor.fetchall()
result6_2 = ()
for i in range(len(result6_1)):
    result6_2=result6_2+((result6_1[i][0],round(result6_1[i][1],0)),)
print(result6_2)

((19, Decimal('42')), (18, Decimal('63')), (17, Decimal('65')))